*{
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif" ;
    color: #222e48;
}

html, body{
border: 0;
margin: 0;
outline: 0;
padding: 0;
}

body{
    position: relative;
    background-color: #ffffff;
    letter-spacing: normal;
    line-height: 1.7;
}

a{
    text-decoration: none;
}

.navbar{
    margin-top: 10px;
}

#logo{
    width: 180px;
    height: 40px;
}

#custom_vertical_line {
    border-left: 1px solid #7F889E;
    height: 32px;
    margin: 3px 11px 0 8px;
    }

#header_primary_content{
    font-size: 25px;
    font-weight:400;
    color: #ff4801;
}

@media only screen and (max-width: 520px){
    #logo{
        width: 120px;
        height: 40px;
    }
    #header_primary_content{
        font-size: 15px;
        margin: 7px 0 0 0;
    }
}

@media only screen and (max-width: 360px){
    .navbar-toggler{
        display: none;
    }
}

.navbar-toggler:focus{
    box-shadow: 0 0 0 0;
}

.container nav .container-fluid .navbar-collapse ul li a{
    color: inherit;
}
.container nav .container-fluid .navbar-collapse ul li a:hover{
    color: #ff4801;
}

.bold_header{
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(15,175,76,0.1) 100%);
}

/* .content_search
{
    max-width: 520px;
    width: auto;
}

.mglass {
    font-weight: bolder;
    display: inline-block;
    pointer-events: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.search_input, .search_button{
    background-color: #ffffff;
    border: 0px;
    margin: 0px;
    border-radius: 0 !important;
}

.search_input:focus{
    box-shadow:unset;
}

.search_button:hover{
    background-color: #ffffff;
    box-shadow: 0 5px 12px 0 rgba(0,0,0,0.08);
} */

  /* Google search */

  form.gsc-search-box{
    max-width: 520px;
    width: auto !important;
    margin: 0 auto !important;
  }
  
  .gsib_a{
    padding: 10px !important;
    border: none !important;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .06);
  }

  .gsib_b{
    display: none;
  }

  .gsc-input-box, .gsc-input{
    padding: 0px !important;
    border: none !important;
  }

  .gsc-search-button{
    padding-left: 0px;
    border: none !important;
    margin: 0 !important;
  }

  .gsc-search-button:hover{
    box-shadow: 0 5px 12px 0 rgba(0,0,0,0.08);
  }

  .gsc-search-button-v2{
    padding: 19px !important;
    border-radius: 0px !important;
  }

.gsc-input{
  font-size: 18px !important;
}

/* google search content */

.gsc-above-wrapper-area{
  display: none;
}

.gsc-control-cse{
  border-color: transparent !important;
  background-color: transparent !important;
}

.gsc-webResult.gsc-result{
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}

.gcsc-more-maybe-branding-root{
  display: none;
}

.gs-webResult.gs-result a.gs-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  padding: 18px 0 5px 0px;
  display: inline-block;
}

.gs-webResult div.gs-visibleUrl {
  font-size: 20px !important;
  color: #283A5F !important;
  letter-spacing: 0 !important;
  line-height: 28px !important;
}

.gs-webResult:not(.gs-no-results-result):not(.gs-error-result) .gs-snippet, .gs-fileFormatType {
  color: #828893 !important;
  font-size: 19px !important;
  letter-spacing: 0 !important;
  line-height: 33px !important;
  padding-bottom: 11px;
  font-weight: 400;
}

.gs-webResult.gs-result a.gs-title b {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.gsc-cursor-current-page {
  background-color: #ff4800 !important;
  border: 1px solid #ff4800 !important;
  color: #fff !important;
}
.gsc-cursor-page {
  width: 45px;
  line-height: 42px;
  text-align: center;
  text-decoration: none !important;
  display: inline-block !important;
  margin-right: 10px;
  height: 45px;
  margin-bottom: 10px;
  border-radius: 50px;
  font-size: 14px;
  color: #283a5e;
}

.gsc-cursor-page:hover {
  background-color: #fff1ef !important;
}

.back_to_context{
  color: #ff4800;
  font-weight:300;
}

/* NavBar side toggle css */

@media(max-width:1199px){
    body .container nav .container-fluid .navbar-collapse ul li a{
        color: #ffffff;
        border-bottom: 3px solid rgb(58, 74, 106);
        padding: 10px 0 10px 8px;
    }    
    body .container nav .container-fluid .navbar-collapse ul li a:hover{
        color: #ffffff;
    }
    .navbar .navbar-collapse.collapsing{ 
      height:auto !important;
    }
    .navbar .lateral-left{
      left:-100%; 
      animation: slide-out-left 200ms forwards;
    }
    .navbar .lateral-left.open{ 
      animation: slide-in-left 200ms forwards;
    }
    .navbar .navbar-collapse{ 
      top:0px; bottom:0px; 
      position:fixed; 
      width:80%; width:calc(100% - 60px); 
      max-width:300px; 
      height:auto !important;
  
      /* Optional styling */
      background:#283a5e;
      padding:0;
      top: 80px;
    }
    .navbar .lateral-left.open,
    .navbar .lateral-right.open{
      display:block !important;
      overflow-y:auto;
      z-index: 1;
    }
  }
  
  @keyframes slide-in-left{ 
    0%		{ left:-100%; }
    100%	{ left:0px; }
  }
  @keyframes slide-out-left{
    0%		{ left:0px; }
    100%	{ left:-100%; }
  }
  @keyframes slide-in-right{ 
    0%		{ right:-100%; }
    100%	{ right:0px; }
  }
  @keyframes slide-out-right{
    0%		{ right:0px; }
    100%	{ right:-100%; }
  }

  /* Main Content */

  .main_container{

  }

  .card-body{
    min-height: 250px;
    border-color: #EAEAEA;
    border-top: 4px solid #ff4801;  
    border-radius: 4px;
    box-shadow: 0 5px 12px 0 rgba(0,0,0,0.08);
  }

  .card{
    border-top: 0;
  }

  .card-title{
      margin-bottom: 18px;
  }

  p{
      margin-bottom: 5px;
  }

  /* footer */

  .footer_content{
  }

  .list-group-item{
    border: 0;
  }

  .brand_color{
      color: #ff4801;
      border-left: 1px solid #222e48;
      padding:0 20px;
  }

  /* Back to top */
  .backToTop {
    display: none;
    position: fixed;
    bottom: 35px;
    right: 20px;
    z-index: 99;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #050505;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 50%;
    box-shadow: 0 5px 12px 0 rgba(0,0,0,0.08);
  }

/* general */

.hide{
  display: none;
}

.back_to_context{
  cursor: pointer;
}